.signup {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #0757a0;
}

.reg-label {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.txt-area {
  height: 200px;
}
